$acsent: #f89174;

// mixinでメディアクエリを管理する
$breakpoint: (
    tab: 'screen and (max-width: 991px)',
    sp: 'screen and (max-width: 600px)'
);

// $bpは$breakpointのそれぞれのキーを示している
// map-get関数でマップの値を取得する
@mixin mq($bp){
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

body{
    background-color: #f0ebeb !important;
}


/******************** 「暮らし」のページエリア　↓↓↓　 ****************************/
body.category-17{
    background-color: #ffedcb !important;

    header{
        box-shadow: 0 3px 4px #d2d0d0;
        border-bottom: none;
    }

    .wrap{
        text-align: center;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;

        #main{
            .page{
                margin-bottom: 20px;
                border-radius: 10px;
                padding-top: 15px;
                float: left;
                width: 100%;



                .header-content{
                    background-color: #ffedcb;
                    box-shadow: 0;
                    margin-bottom: 10px;


                    h1{
                        padding: 4px 0 4px;
                        font-size: 28px;
                        font-weight: 700;
                        letter-spacing: .4px;
                        margin-bottom: 0;
                        line-height: 1.68;

                        .post-subtitle{
                            font-size: 15px;
                            display: block;
                        }
                    }

                    
                    .thumb-eria{
                        margin-left: auto;
                        margin-right: auto;

                        img{
                            width: 400px;
                            height: auto;
                        }
                    }

                    .post-disc{
                        font-weight: bold;
                        font-size: 15px;
                        font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
                        margin-top: 20px;

                    }
    
                }



                .page-content{


                    h2{
                        font-size: 25px;
                        color: #555;
                        margin: 35px 0 20px;
                        padding-bottom: 19px;
                        font-weight: bold;
                        font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
                    }

                    .content-eria{
                        overflow: hidden;
    
                        .row{
                            margin-left: 0;
                            margin-right: 0;
    
                            article{
                                margin: 0 1% 17px 1%;
                                width: 48%;
                                padding: 10px;
                                margin: 0 1% 17px;
                                position: relative;
                                display: block;
                                float: left;
                                cursor: pointer;
                                background-color: #fff;
        
                                .clearfix::before{
                                    content: '';
                                    display: inline-table;
                                    clear: both;
                                }
                
                                &:hover{
                                    transition: all ease-in-out .3s;
                                    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 20%);
                                    transform: translateY(-2px);
                                }
                
                                a{
                                    display: table;
                                    vertical-align: middle;
                                    text-decoration: none;
            
                
                
                                    img{
                                        object-fit: cover;
                                        display: table-cell;
                                        vertical-align: middle;
                                        // アスペクト比指定
                                        aspect-ratio: 100 / 100;
                                        width: 100px;
                                        height: 100px;
                                        position: relative;
                                    }
                
                                    h3{
                                        vertical-align: middle;
                                        display: table-cell;
                                        height: 84px;
                                        color: #000;
                                        font-size: 1em;
                                        font-weight: bold;
                                        line-height: 1.4;
                                        padding-left: 12px;
                                    }
                
                                }
        
                                .posted-date{
                                    position: absolute;
                                    right: 9px;
                                    bottom: 9px;
                                    text-align: left;
                                    float: right;
                                    color: #bfbfbf;
                                    font-weight: 700;
                                    font-size: 13px;
                                    font-family: "Avenir","Arial",sans-serif;
                                    padding-left: 20px;
                
                                    time{
                                        letter-spacing: .07em;
                                    }
                                    
                
                                    i{
                                        width: 20px;
                                        height: 20px;
                                        line-height: 20px;
                                        font-size: 13px;
                                        text-align: center;
                                        vertical-align: top;
                                    }
                                    
                                }
                            }
    
                        }
    
                    }
                }
                
            }
        }
    }

    .breadcrumb-page{
        background: #ee8d72;
        padding: 8px 12px;
        color: #fff;
        font-weight: 700;
        font-size: 14px;

        span{
            padding-right: 4px;
            margin-left: 4px;

            i{
                color: #ffc3b2;
                font-size: 13px;
                
            }
        }
        

        a{
            color: #fff;
        }

    }


    footer{
        .hm{
            background: #fff;
        }

        .footer-02{
            border-top: 1px #efefef solid;
        }
    }

    @include mq(tab){

        .wrap{
            max-width: 750px !important;
        
            .col-md-10{
                padding-left: 0;
                padding-right: 0;

    
                .breadcrumb-page{
                    span i{
                        padding-right: 4px;
                    }
                }
            }
        }

    }

    @include mq(sp){

        .wrap{
            width: 100%;

            .col-md-10{
                padding-left: 10px;
                padding-right: 10px;

                article{
                    width: 100% !important;
                    padding-top: 0 !important;

                    .header-content{

                        .thumb-eria{

                            img{
                                width: 90% !important;
                                height: auto;
                            }
                        }
                    }


                    .page-content{
                        .content-eria{
                            .row article{
                                padding: 7px !important;

                                a{
                                    img{
                                        width: 80px !important;
                                        height: 80px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
/******************** 「暮らし」のページエリア　↑↑↑　 ****************************/

header{
    background-color: #fff;
    padding: 13px 0 4px;

    h1{
        margin: 0;
    }
}

.wrap{
    max-width: 1239px;
    margin: 0 auto;
    padding-top: 15px;
    overflow: hidden;

    .breadcrumb{
        padding: 0 0 0 25px;
        margin-bottom: 5px;
        overflow: hidden;
        font-weight: bold;
        line-height: 22px;
        background-color: #f0ebeb;
        height: 26px;

        i:nth-child(1){
            color: #f89174;
            padding-right: 10px;
        }


        span{

            span {
                font-size: 17px;
                color: #9e9c9c;
                padding: 0 0 0 4px;
    
                a{
                    text-decoration: none;
                    color: #9e9c9c;
                }
            }

            i {
                vertical-align: 0;
            }
        } 
        
    }

    #main{
        max-width: 1100px;
        float: left;
        overflow: auto;
        margin-left: 0;
        margin-right: 0;


        

        .main__content{
            float:left;
            width: 700px;
            
            section{
                margin: 15px 0 25px 0;

                .main__title{
                    position: relative;
                    margin: 4px 0;
                    text-align: center;
                    border-bottom: 2px solid #000;
                    
                    
    
                    h1{
                        font-weight: 700;
                        font-family: "Avenir","Arial",sans-serif;
                        display: inline-block;
                        letter-spacing: .05em;
                        margin-top: 0;
                        font-size: 21px;
                        background: #f0ebeb;
                    }
                }

            }


            .term-name{
                overflow: auto;
                width: 100%;

                ul{
                    padding: 0;

                    
                    li{
                        float: left;
                        display: inline-block;
                        background-color: #fff;
                        padding: 9px 10px;
                        margin: 10px 10px 0 0;
                        line-height: 1;


                        a{
                            text-decoration: none;
                            color: #808080;
                            font-size: 14.45px;

                            &::before{
                                font-family: FontAwesome;
                                content: "\f0da";
                                padding-right: 4px;
                            }

                            &:hover{
                                color: $acsent;
                                transition: all .3s ease-in-out;
                            }
                        }
                        
                        
                        
                    }
    
                }
                
            }

            .content__catInfo{
                .row{
                    width: 100%;

                    article{
                        margin: 0 1% 17px;
                        width: 48%;
                        padding: 10px;
                        margin: 0 1% 17px;
                        position: relative;
                        display: block;
                        flex-grow: 0;
                        float: left;
                        background-color: #fff;
        
                        &:hover{
                            transition: all ease-in-out .3s;
                            box-shadow: 0 10px 20px -5px rgb(0 0 0 / 20%);
                            transform: translateY(-2px);
                        }
        
                        a{
                            display: table;
                            vertical-align: middle;
                            text-decoration: none;
    
        
        
                            img{
                                object-fit: cover;
                                display: table-cell;
                                vertical-align: middle;
                                // アスペクト比指定
                                aspect-ratio: 100 / 100;
                                width: 100px;
                                height: 100px;
                            }
        
                            h2{
                                vertical-align: middle;
                                display: table-cell;
                                color: #000;
                                font-size: 17px;
                                font-weight: bold;
                                padding-left: 11px;
                            }
        
                        }
    
                        span{
                            float: right;
                            position: absolute;
                            right: 9px;
                            bottom: 9px;
                            color: #bfbfbf;
                            font-size: 13px;
                            font-weight: 700;
                            font-family: "Avenir","Arial",sans-serif;
                            letter-spacing: .05em;
    
                            i{
                                margin-right: 4px;
                            }
                        }
                        
                    }
                } 
                
                
            }


            div .row{
                margin-left: 0;
                margin-right: 0;
            }

            .pagination{
                margin: 0 0 120px;

                ul{
                    width: 300px;
                    height:79px;
                    font-weight: bold;
                    overflow: hidden;
    
                    li{
                        width:auto;
                        float: left;
                        line-height: 79px;
                        color: $acsent;
                        margin: 2px 2px 2px 0;
                        padding: 6px 6px;
    
                        .current{
                            background-color: $acsent;
                            padding: 10px 16px;
                            margin: 1em 0;
                            color: #fff;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            text-align: center;
    
                        }
    
                        a{
                            text-decoration: none;
                            color: $acsent;
    
                        }
                    }
                }
            } 
            
        }


        .side{
            float: left;
            margin-left: 30px;
            margin-top: 0px;

            .side-1{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    height: 41.2px;
                    font-weight: bold;
                    color: #fff;
                    padding: 9px 15px !important;

                    &::before{
                        color: #fff;
                        padding: 0 8px 0 10px;
                        content: '\f279';
                        font-family: FontAwesome;
                    }
                }

                .side-1__parent{
                    padding: 6px 10px 14px 25px;
                    list-style: none;
                    
                    li{
                        display: block;
                        padding: 7px 0;

                        i{
                            padding-right: 6px;
                            color: #f89174;
                            font-size: 15px;
                        }

                        a{
                            color: #000;
                            font-weight: bold;
                            font-size: 15px;
        
                            &:hover{
                                text-decoration: none;
                            }
                        }

                        .side-1__children{
                            padding: 6px 10px 14px 25px;
                            list-style: none;
                            
                            .children__li{
                                display: block;
                                padding: 7px 0;
    
                                .children__a{
                                    color: #ccc;
                                    font-size: 15px;

                                    &::before{
                                        font-family: FontAwesome;
                                        content: '\f105';
                                        padding-right: 6px;
                                        margin-right: 2px;
                                        font-weight: 400;
                                    }
                
                                    &:hover{
                                        text-decoration: none;
                                        color: $acsent;
                                        transition: all .3s ease-in-out;
                                    }
                                }
                            }
                        }

                    }
                
                }
            }


            .side-2{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    height: 41.2px;
                    padding: 9px 15px !important;
                }

                article{
                    padding: 18px 10px;


                    img{
                        width: 77px;
                        height: 77px;
                        float: left;
                    }
                    
                    dl{
                        margin: 0 0 0 3%;
                        width: 67%;
                        float: right;
                    }

                    dt{
                        font-weight: 700;
                        color: #807171;
                        font-size: 14px;
                    }

                    dd{
                        font-size: 12px;
                        color: #807171;
                    }

                    p{
                        font-size: 13px;
                        color: #929292;
                        border-bottom: 2px dotted #f0ebeb;
                        margin: .5em 0 0;
                        padding-top: 5px;
                        clear: both;
                    }
                    
                    

                    .clearfix{

                        a{
                            display:  inline-block;
                            margin-top: 1em;
                            line-height: 1.2;
                            border-radius: 5px;
                            font-size: 12px;
                            font-weight: bold;
                            letter-spacing: .05em;
                            width: 47%;
                            text-align: center;
                            padding: 2%;
                        }

                        .tw{
                            margin-right: 4%;
                            background-color: #73bcf3;
                            color: #fff;

                            i{
                                font-size: 30px;
                            }
                        }

                        .fb{
                            background-color: #9ade79;
                            color: #fff;

                            i{
                                font-size: 30px;
                            }
                        }
                    } 
                }
            }

            .side-3{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    height: 41.2px;
                    margin-bottom: 0;
                    padding: 9px 15px !important;
                }

                .side-3__content{
                    position: relative;
                    padding-right: 40px;


                    form{
                        overflow: hidden;
                        border-radius: 2px;
                        width: 290px;
                        height: 40px;

                        input[type=text]{
                            border: none;
                            float:left;
                            padding: 10px 13px;
                            font-size: 14px;
                            width: 250px;
                            cursor: pointer;
                            

                            &:focus{
                                outline: none;
                                background: #fff;
                            }
                        }
    
                        button{
                            border: none;
                            float: right;
                            position: absolute;
                            right: 0;
                            top: 0;
                            padding: 9px 5px;
                            width: 40px;
                            vertical-align: top;
                            line-height: 23px;
                            background: 0 0;
                            font-size: 21px;
                            color: gray;

                            &:focus{
                                outline: none;
                                
                            }
                        }
                    }
                }

            }


            .side-4{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;
                padding: 18px 10px;
                height: auto;

                p{
                    text-align: center;
                    color: #807171;
                    font-weight: 600;
                }

                div{
                    display: block;
                    width: 100%;
                    height: 400px;
                    background-color: #fafafa;
                }
            }
            
        }

    }

}


@include mq(tab){
    .wrap{
        max-width: 700px;
    
        .col-md-10{
            padding-left: 0;
            padding-right: 0;

            .side{
                width: 100%;
                margin-top: 0 !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
    
                .side-1,
                .side-2,
                .side-3,
                .side-4{
                    width: 49% !important;
                    float: left;
                }
    
                .side-1{
                    margin-right: 2%;
                }
            }
        }
    }
}


@include mq(sp){

    header{
        padding: 5px 0 0;
    }

    .wrap{
        max-width: 450px;
        margin: 0 .3em;
        padding-top: 9px;

        .breadcrumb{
            padding-left: 10px;

            span{
                font-size: 12px;
            }

            span span{
                font-size: 14px;
                padding-left: 0;
            }
        }

        .col-md-10{
            padding-left: 10px;
            padding-right: 10px;

            
            .main__content{
                width: 100% !important;
                font-size: .82em;

                section{
                    
                    .main__title{
                        text-align: left !important;                        
                    }

                }

                .content__catInfo .row{

                    article{
                        width: 100% !important;

                        a{

                            img{
                                width: 90px !important;
                                height: 90px !important;
                            }
    
                            h2{
                                font-size: 14px !important;
                                line-height: 1.4;
                            }
                        }
                        
                    }
                }
            }



            .side{
                width: 100%;
                margin-top: 0 !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
    
                .side-1,
                .side-2,
                .side-3,
                .side-4{
                    width: 100% !important;
                    
                }
    
                .side-1{
                    margin-right: 0;
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}


footer{
    text-align: center;
    clear: both;

    .hm{
        font-weight: 700;
        font-size: 1.2em;
        padding: 5px 0;

        a{
            color: #807171;
        }
    }

    .footer-02{
        background: #fff;

        .wrap{
            margin: 0 auto;
            padding: 15px 0;

            i{
                font-size: 12px;
                color: #6f6f6f;
            }


            .gray{
                font-size: 15px;
                color: #6f6f6f;

            }
            
            .footer-copy{
                color:#6f6f6f;
                font-size: 12px;
            }
        }
    }
    
}



