$acsent: #f89174;

// mixinでメディアクエリを管理する
$breakpoint: (
    tab: 'screen and (max-width: 991px)',
    sp: 'screen and (max-width: 600px)'
);

// $bpは$breakpointのそれぞれのキーを示している
// map-get関数でマップの値を取得する
@mixin mq($bp){
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}



body{
    background-color: #f0ebeb !important;
}

header{
    background-color: #fff;
    padding: 13px 0 4px;

    h1{
        margin: 0;
    }
}


.wrap{
    max-width: 1239px;
    margin: 0 auto;
    padding-top: 35px;
    overflow: hidden;

    .breadcrumb{
        padding: 0 0 0 25px;
        margin-bottom: 5px;
        color: #9e9c9c;
        overflow: hidden;
        font-weight: bold;
        line-height: 22px;
        background-color: #f0ebeb;
        
    }

    #main{
        max-width: 1100px;
        float: left;
        overflow: auto;
        margin-left: 0;
        margin-right: 0;


        #catmenu{
            margin: 0 .5em 1em;
            width: 683px;

            nav{
                overflow: hidden;
    
                ul{
                    width: 100%;
                    height: 44px;
                    line-height: 43px;
    
                    li{
                        float: left;
                        font-weight: bold;
                        background-color: #fff;
                        border-left: 2px solid #f0ebeb;
    
                        a{
                            color:#b5b5b5;
                            font-weight: 700;
                        
                            &:hover{
                                text-decoration: none;
                            }
                        }
                        
                    }
                    
                    li:nth-child(1){
                        width: 48%;
                        display: inline-block;
                        border-bottom: solid 3px #74c2f8;

                        i{
                            color: #74c2f8;
                        }
                    }
                    
                    li:nth-child(2),
                    li:nth-child(3){
                        width: 26%;
                        display: inline-block;
                        border-bottom: solid 3px #fff;

                        &:hover{
                            border-bottom: solid 3px $acsent;
                            transition: all .2s ease-in-out;
                            

                            a{
                                color: $acsent;

                                i{
                                    color: $acsent;
                                }
                            }

                        }
                        
                    }
                }
            }
        }
        

        .main__content{
            float:left;
            width: 700px;
            
            
            #new-entry{
                position: relative;
                margin: 0 1.5%;
                text-align: center;

                &::before{
                    content: "";
                    position: absolute;
                    border-bottom: 2px solid #000;
                    top: 50%;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                }

                p{
                    font-weight: 700;
                    color: #4d4b4b;
                    font-family: "Avenir","Arial",sans-serif;
                    display: inline-block;
                    padding: 1em;
                    letter-spacing: .05em;
                    font-size: 17px;
                    background: #f0ebeb;
                }
            }
            

            div a{
                margin: 0 1% 17px;
                width: 48%;
                height: auto;
                position: relative;
                display: block;
                flex-grow: 0;

                &:hover{
                    text-decoration: none;
                    transition: all ease-in-out .3s;
                    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 20%);
                    transform: translateY(-2px);
                }

                article{
                    padding: 10px;


                    img{
                        object-fit: cover;
                        width: 306px;
                        height: 176px;
                    }

                    .cntH2{
                        color: #000;
                        font-size: 17px;
                        font-weight: bold;
                        padding: 0.5em 0 0;
                    }

                }
            }

            div .row{
                margin-left: 0;
                margin-right: 0;
            }

            nav{
                margin: 0 0 120px;

                ul{
                    width: 245px;
                    height:79px;
                    font-weight: bold;
                    overflow: hidden;
                
                    li{
                        float: left;
                        line-height: 79px;
                        color:#f89174;
                        margin: 2px 2px 2px 0;
                        padding: 6px 12px;
                        font-size: 17px;
                        
    
                        span:nth-child(odd){
                            background-color: $acsent;
                            padding: 10px 16px;
                            margin: 1em 0;
                            color: #fff;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            text-align: center;
    
                        }
    
                        a{
                            text-decoration: none;
                            color:#f89174;
    
                        }
                    }
                }
            } 
            
        }

        
        .side{
            float: left;
            margin-left: 30px;
            margin-top: -76px;

            .side-1{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    height: 41.2px;
                    padding: 9px 15px !important;

                    &::before{
                        color: #fff;
                        padding: 0 8px 0 10px;
                        content: '\f279';
                        font-family: FontAwesome;
                    }
                    
                }

                .side-1__parent{
                    padding: 6px 10px 14px 25px;
                    list-style: none;
                    
                    li{
                        display: block;
                        padding: 7px 0;

                        i{
                            padding-right: 6px;
                            color: #f89174;
                            font-size: 15px;
                        }

                        a{
                            color: #000;
                            font-weight: bold;
                            font-size: 15px;
        
                            &:hover{
                                text-decoration: none;
                            }
                        }

                        .side-1__children{
                            padding: 6px 10px 14px 25px;
                            list-style: none;
                            
                            .children__li{
                                display: block;
                                padding: 7px 0;
    
                                .children__a{
                                    color: #ccc;
                                    font-size: 15px;

                                    &::before{
                                        font-family: FontAwesome;
                                        content: '\f105';
                                        padding-right: 6px;
                                        margin-right: 2px;
                                        font-weight: 400;
                                    }
                
                                    &:hover{
                                        text-decoration: none;
                                        color: $acsent;
                                        transition: all .3s ease-in-out;
                                    }
                                }
                            }
                        }

                    }
                
                }
            }


            .side-2{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    height: 41.2px;
                    padding: 9px 15px !important;
                }

                article{
                    padding: 18px 10px;


                    img{
                        width: 77px;
                        height: 77px;
                        float: left;
                    }
                    
                    dl{
                        margin: 0 0 0 3%;
                        width: 67%;
                        float: right;
                    }

                    dt{
                        font-weight: 700;
                        color: #807171;
                        font-size: 14px;
                    }

                    dd{
                        font-size: 12px;
                        color: #807171;
                    }

                    p{
                        font-size: 13px;
                        color: #929292;
                        border-bottom: 2px dotted #f0ebeb;
                        margin: .5em 0 0;
                        padding-top: 5px;
                        clear: both;
                    }
                    
                    

                    .clearfix{

                        a{
                            display:  inline-block;
                            margin-top: 1em;
                            line-height: 1.2;
                            border-radius: 5px;
                            font-size: 12px;
                            font-weight: bold;
                            letter-spacing: .05em;
                            width: 47%;
                            text-align: center;
                            padding: 2%;
                        }

                        .tw{
                            margin-right: 4%;
                            background-color: #73bcf3;
                            color: #fff;

                            i{
                                font-size: 30px;
                            }
                        }

                        .fb{
                            background-color: #9ade79;
                            color: #fff;

                            i{
                                font-size: 30px;
                            }
                        }
                    } 
                }
            }

            .side-3{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    height: 41.2px;
                    margin-bottom: 0;
                    padding: 9px 15px !important;
                }

                .side-3__content{
                    position: relative;
                    padding-right: 40px;


                    form{
                        overflow: hidden;
                        border-radius: 2px;
                        width: 290px;
                        height: 40px;

                        input[type=text]{
                            border: none;
                            float:left;
                            padding: 10px 13px;
                            font-size: 14px;
                            width: 250px;
                            cursor: pointer;
                            

                            &:focus{
                                outline: none;
                                background: #fff;
                            }
                        }
    
                        button{
                            border: none;
                            float: right;
                            position: absolute;
                            right: 0;
                            top: 0;
                            padding: 9px 5px;
                            width: 40px;
                            vertical-align: top;
                            line-height: 23px;
                            background: 0 0;
                            font-size: 21px;
                            color: gray;

                            &:focus{
                                outline: none;
                                
                            }
                        }
                    }
                }

            }


            .side-4{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;
                padding: 18px 10px;
                height: auto;

                p{
                    text-align: center;
                    color: #807171;
                    font-weight: 600;
                }

                div{
                    display: block;
                    width: 100%;
                    height: 400px;
                    background-color: #fafafa;
                }
            }
            
        }

    }
}

@include mq(tab){
    .wrap{
        max-width: 700px;

        
        .col-md-10{
            padding-left: 0;
            padding-right: 0;

            .side{
                width: 100%;
                margin-top: 0 !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
    
                .side-1,
                .side-2,
                .side-3,
                .side-4{
                    width: 49% !important;
                    float: left;
                }
    
                .side-1{
                    margin-right: 2%;
                }
            }
        }

    }
}

@include mq(sp){
    .wrap{
        max-width: 450px;
        margin: 0 .3em;
        padding-top: 9px;

        

        .col-md-10{
            padding-left: 0;
            padding-right: 0;

            #catmenu{
                width: 100% !important;
                margin: 0 0.34em 1em !important;

                nav{
                    width: 355px;

                    ul{
                        margin-bottom: 0;
    
                        li{
                            font-size: 11px;
                            height: 33px !important;
                            line-height: 30px;
                        }
                    } 
                }

            }

            .main__content{
                width: 100% !important;
                font-size: .82em;

                .contentInfo .row a{
                    margin: 0 1% 10px !important;

                    article{
                        img{
                            width: 157px !important;
                            height: 90px !important;
                        }

                        h2{
                            font-size: 14px !important;
                        }
                    }
                }
            }



            .side{
                width: 100%;
                margin-top: 0 !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
    
                .side-1,
                .side-2,
                .side-3,
                .side-4{
                    width: 100% !important;
                    
                }
    
                .side-1{
                    margin-right: 0;
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}


footer{
    text-align: center;
    clear: both;

    .hm{
        font-weight: 700;
        font-size: 1.2em;
        padding: 5px 0;

        a{
            color: #807171;
            text-decoration: none;
        }
    }

    .footer-02{
        background: #fff;

        .wrap{
            margin: 0 auto;
            padding: 15px 0;

            i{
                font-size: 12px;
                color: #6f6f6f;
            }


            .gray{
                font-size: 15px;
                text-decoration: none;
                color: #6f6f6f;

            }
            
            .footer-copy{
                color:#6f6f6f;
                font-size: 12px;
            }
        }
    }
    
}



