$acsent: #f89174;




body{
    background-color: #f0ebeb !important;
}

header{
    background-color: #fff;
    padding: 13px 0 4px;

    h1{
        margin: 0;
    }
}

.wrap{
    max-width: 1239px;
    margin: 0 auto;
    padding-top: 15px;
    overflow: hidden;

    .breadcrumb{
        padding: 0 0 0 25px;
        margin-bottom: 5px;
        color: #9e9c9c;
        overflow: hidden;
        font-weight: bold;
        line-height: 22px;
        background-color: #f0ebeb;
        

        i:nth-child(1){
            color: #f89174;
            padding-right: 10px;
        }


        span{
            span {
                font-size: 17px;
                color: #9e9c9c;
                padding: 0 0 0 4px;
    
                a{
                    text-decoration: none;
                    color: #9e9c9c;
                }
    
            }

            i{
                vertical-align: 0;
            }
        } 
    }

    #main{
        max-width: 1100px;
        float: left;
        overflow: auto;
        margin-left: 0;
        margin-right: 0;


        // 真ん中のarticle内。
        // 投稿ページなのでそれぞれの要素は階層の役割を持たない
        .single{
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 10px;
            padding-top: 15px;
            float: left;
            width: 680px;


            header{
                padding: 40px 64px 0;
                width: 100%;

                h1{
                    padding: 4px 0 4px;
                    font-size: 28px;
                    font-weight: 700;
                    letter-spacing: .4px;
                }

                .posted-date{
                    width: 100%;
                    height: 49px;
                    

                    span{
                        text-align: left;
                        float: right;
                        color: #afafaf;
                        font-weight: 700;
                        font-family: "Avenir","Arial",sans-serif;
                        padding-left: 20px;
                        margin: 0.5em 0;

                        time{
                            letter-spacing: .07em;
                        }
                        
    
                        i{
                            background: #ffc778;
                            width: 25px;
                            height: 25px;
                            line-height: 25px;
                            font-size: 13px;
                            text-align: center;
                            vertical-align: middle;
                            border-radius: 50%;
                            color: #fff;
                            margin-right: 5px;
                        }
                    }
                }
                
            }


            .single-content{
                padding: 10px 64px 42px;
                overflow: hidden;
                
                .thumbClass{
                    text-align: center;
                    margin-bottom: 2em;
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                }


                h2{
                    background: #f7f7f7;
                    border-left: solid #f89174 5px;
                    padding: 14px 12px;
                    border-bottom: solid 3px #dadada;
                    margin: 3.2em -1em 1.8em;
                    clear: both;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 1.4;
                }
                
                h3{
                    position: relative;
                    padding: 10px 0 10px 16px;
                    margin-left: -16px;
                    font-size: 21px;
                    margin: 3em 0 1em;
                    font-weight: 700;
                    line-height: 1.4;
                    letter-spacing: .12em;

                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 3px;
                        width: 6px;
                        height: 100%;
                        background: #ffc778; 
                    }
                }

                h4{
                    font-size: 18px;
                    padding-left: 26px;
                    position: relative;
                    font-weight: 700;
                    line-height: 1.4;
                    letter-spacing: .12em;


                    &::before{
                        content: "\f13a";
                        font-family: FontAwesome;
                        left: 0;
                        position: absolute;
                        color: $acsent;
                    }
                }
                
                p{
                    margin: 0 0 1.8em;
                    line-height: 1.9;
                    letter-spacing: .12em;
                    font-size: 17px;
                }

                a{
                    color:#f1991d;
                    text-decoration: underline;
                }

            }


            .single-footer{
                border-radius: 0 0 3px 3px;
                padding: 0 64px 40px;

                aside{

                    .kanren{
                        padding: 5px 0;
                        margin-bottom: 15px;
                        border-bottom: solid 3px #f0ebeb;
                        

                        .clearfix::after{
                            content: '';
                            clear: both;
                            display: block;
                        }

                        h4{
                            margin-bottom: 0;
                            padding-bottom: 0;
                            letter-spacing: 1.4;

                            img{
                                width: 70px;
                                margin-right: 10px;
                            }

                            &::after{
                                vertical-align: middle;
                                content: '関連する記事';
                                font-weight: 700;
                                color: #565656;
                            }
                            
                            

                        }
                        
                    }

                    .kanren-kizi{
                        position: relative;
                        background: #f3f5f6;
                        padding: 15px 10px;

                        &::after{
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            border-width: 0 16px 16px 0;
                            border-style: solid;
                            border-color: #fff #fff #e7e7e7;
                            box-shadow: -1px 1px 1px rgb(0 0 0 / 15%);
                        }

                        .kanren-kizi__p{
                            font-weight: 600;
                            text-align: left;
                            font-size: 17px;
                            letter-spacing: 1.4;

                            &::before{
                                font-weight: bold;
                                padding: 10px;
                                content: '\f00c';
                                font-family: FontAwesome;
                                color: blue;
                                
                            }
                        }

                        .kizi{
                            height: 100px;
                            max-width: 400px;
                            display: table;
                            margin: 1em 0;
                            text-decoration: none;


                            img{
                                width: 100px;
                                height: 100px;
                                object-fit: cover;
                                border: solid 2px #e2dddd;
                                display: table-cell;
                            }

                            .kizi-title{
                                background: #fff;
                                height: 100px;
                                padding: 0 15px 0 5px;
                                border: solid 2px #f0ebeb;
                                border-left: 0;
                                display: table-cell;
                                transition: all ease-in-out .3s;
                                vertical-align: middle;

                                &:hover{
                                    color: gray;
                                    background: #f0ebeb; 

                                }

                                p{
                                    font-weight: 600;
                                    color: #333;
                                
                                }
                                
                            }
                        }
                    }


                    .ss{
                        .clearfix{
                            &::after{
                                content: "";
                                display: block;
                                clear: both;
                            }
                        }


                        ul{
                            padding-left: 0;

                            li{
                                width: 24%;
                                margin: 0 .5%;
                                float: left;
                                text-align: center;
                                border-radius: 5px;
    
                                a{
                                    width: 100%;
                                    display: block;
                                    padding: 12px 15px;
                                    color: #fff;
                                    font-weight: 700;
                                    text-decoration: none;
                                    transition: all ease-in-out .3s;

                                    &:hover{
                                        background: #e0dcdc;
                                        border-radius: 5px;
                                    }
    
                                    span{
                                        font-size: .9em;
                                        padding-left: 3px;
                                    }
                                }
                            }
                        } 

                        .sstw{
                            background: #74c1f8;
                        }

                        .ssfb{
                            background: #668ad8;
                        }

                        .sshtb{
                            background: #6eaff3;
                            font-weight: 700;
                            font-family: Avenir,Arial,sans-serif;
                        }

                        .sspkt{
                            background: #f87474;
                        } 
                    }

                    .postauth{
                        text-align: center;
                        font-weight: 700;
                        background: #fff;
                        letter-spacing: .05em;
                        padding: 1.7em 0 0.5em;

                        .postauth__a{
                            color: #74c1f8;
                            transition: all ease-in-out .3s;

                            &:hover{
                                text-decoration: none;
                                color: #fff;
                            }

                            .parent-span{
                                border: solid 2px #74c1f8;
                                padding: 8px 10px;
                                border-radius: 5px;
                                font-size: .83em;

                                &:hover{
                                    background: #74c1f8;
                                }

                                i{
                                    vertical-align: 0;
                                }
                            }
                        }
                    }
                    
                }
            }





        }

        

        
        .side{
            float: left;
            margin-left: 30px;
            margin-top: 0;

            .side-1{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    height: 41.2px;
                    padding: 9px 15px !important;

                    
                }

                .side-1__parent{
                    padding: 6px 10px 14px 25px;
                    list-style: none;
                    
                    li{
                        display: block;
                        padding: 7px 0;

                        i{
                            padding-right: 6px;
                            color: #f89174;
                            font-size: 15px;
                        }

                        a{
                            color: #000;
                            font-weight: bold;
                            font-size: 15px;
        
                            &:hover{
                                text-decoration: none;
                            }
                        }

                        .side-1__children{
                            padding: 6px 10px 14px 25px;
                            list-style: none;
                            
                            .children__li{
                                display: block;
                                padding: 7px 0;
    
                                .children__a{
                                    color: #ccc;
                                    font-size: 15px;

                                    &::before{
                                        font-family: FontAwesome;
                                        content: '\f105';
                                        padding-right: 6px;
                                        margin-right: 2px;
                                        font-weight: 400;
                                    }
                
                                    &:hover{
                                        text-decoration: none;
                                        color: $acsent;
                                        transition: all .3s ease-in-out;
                                    }
                                }
                            }
                        }

                    }
                
                }
            }


            .side-2{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    height: 41.2px;
                    padding: 9px 15px !important;
                }

                article{
                    padding: 18px 10px;


                    img{
                        width: 77px;
                        height: 77px;
                        float: left;
                    }
                    
                    dl{
                        margin: 0 0 0 3%;
                        width: 67%;
                        float: right;
                    }

                    dt{
                        font-weight: 700;
                        color: #807171;
                        font-size: 14px;
                    }

                    dd{
                        font-size: 12px;
                        color: #807171;
                    }

                    p{
                        font-size: 13px;
                        color: #929292;
                        border-bottom: 2px dotted #f0ebeb;
                        margin: .5em 0 0;
                        padding-top: 5px;
                        clear: both;
                    }
                    
                    

                    .clearfix{

                        a{
                            display:  inline-block;
                            margin-top: 1em;
                            line-height: 1.2;
                            border-radius: 5px;
                            font-size: 12px;
                            font-weight: bold;
                            letter-spacing: .05em;
                            width: 47%;
                            text-align: center;
                            padding: 2%;
                        }

                        .tw{
                            margin-right: 4%;
                            background-color: #73bcf3;
                            color: #fff;

                            i{
                                font-size: 30px;
                            }
                        }

                        .fb{
                            background-color: #9ade79;
                            color: #fff;

                            i{
                                font-size: 30px;
                            }
                        }
                    } 
                }
            }

            .side-3{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;

                h4{
                    background-color: #f89174;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    height: 41.2px;
                    margin-bottom: 0;
                    padding: 9px 15px !important;
                }

                .side-3__content{
                    position: relative;
                    padding-right: 40px;


                    form{
                        overflow: hidden;
                        border-radius: 2px;
                        width: 290px;
                        height: 40px;

                        input[type=text]{
                            border: none;
                            float:left;
                            padding: 10px 13px;
                            font-size: 14px;
                            width: 250px;
                            cursor: pointer;
                            

                            &:focus{
                                outline: none;
                                background: #fff;
                            }
                        }
    
                        button{
                            border: none;
                            float: right;
                            position: absolute;
                            right: 0;
                            top: 0;
                            padding: 9px 5px;
                            width: 40px;
                            vertical-align: top;
                            line-height: 23px;
                            background: 0 0;
                            font-size: 21px;
                            color: gray;

                            &:focus{
                                outline: none;
                                
                            }
                        }
                    }
                }

            }


            .side-4{
                width: 290px;
                margin-bottom: 30px;
                background-color: #fff;
                padding: 18px 10px;
                height: auto;

                p{
                    text-align: center;
                    color: #807171;
                    font-weight: 600;
                }

                div{
                    display: block;
                    width: 100%;
                    height: 400px;
                    background-color: #fafafa;
                }
            }
            
        }

    }

}


footer{
    text-align: center;
    clear: both;

    .hm{
        font-weight: 700;
        font-size: 1.2em;
        color: #807171;
        padding: 5px 0;
    }

    .footer-02{
        background: #fff;

        .wrap{
            margin: 0 auto;
            padding: 15px 0;

            i{
                font-size: 12px;
                color: #6f6f6f;
            }


            .gray{
                font-size: 15px;
                text-decoration: none;
                color: #6f6f6f;

            }
            
            .footer-copy{
                color:#6f6f6f;
                font-size: 12px;
            }
        }
    }
    
}



